/*My css sheet*/
html{

    font-style : normal;
    font-variant : small-caps;
    font-weight: bold;
    font-size : 12/1.5;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    width: 100%;
    max-width: 1200px;
    border: 2px solid black;
   
}
h1{
    color:pink;
}
main{
    width: 900px;
}
section{
    border: 2px solid black;
    font-size : 2rem;
    padding: 1.5 em;
     
}
#sec1{
    width: 90%;
  
}
#sec2{
    width: 80%;
  
}

#para1{
    color: #ff0000;
}
#para2{
    color: #2b00ff80;
}
#para3{
    color: rgb(255, 222, 0);
}
#para4{
    color:rgba(14, 89, 119, 0.3);
  
}
#para5{
    color:hsl(284, 61%, 23%);
}
#para6{
    color: hsla(195, 72%, 23%, 0.3);
}
#para7{
    color : greenyellow;
}
#para8{
    color: #b58;
}
